:root {
  --react: #61DBFB;
  --logo: url("app/assets/react.svg");
  --logo_grey: url("app/assets/react_grey.svg");
}

h1 {
  font-size: 48px;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background-color: #242529;
  background-image: var(--logo_grey);
  background-repeat: no-repeat;
  background-position: calc(100% + 150px) 75%;
  height: 100vh;
}

.nav {
  padding: 24px 40px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  color: var(--react);
}

.nav > h4 {
  color: white;
}

.logo > h2 {
  margin: auto 16px;
}

.logo > img {
  width: 40px;
}

.logo {
  display: flex;
}

.wrapper {
  color: white;
  padding: 24px 64px;
}

.list li {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 12px 0;
}

li::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--react);
  margin-right: 1.2rem;
}
